<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeingMapper">

	<insert id="insertTeeingData" parameterType="com.project.dto.TeeingDTO">
		insert into teeing (teeingNum,roomNum,userId,name,email,ustoredFileName,
		title,content,created)
		values (teeingNum_SEQ.nextval,#{roomNum},#{userId},#{name},#{email},#{ustoredFileName},
		#{title},#{content},sysdate)
	</insert>
	
	<select id="teeingDataCount" resultType="int" parameterType="hashMap">
		select nvl(count(*),0) from teeing
		where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	
	<select id="getTeeingLists" resultType="com.project.dto.TeeingDTO" parameterType="map">
		select * from (
		select rownum rnum, data.* from (
		select teeingNum,roomNum,userId,name,email,ustoredFileName,title,content,
		to_char(created,'YYYY-MM-DD') created
		from teeing where ${searchKey} like '%' || #{searchValue} || '%'
		order by teeingNum desc) data)
		<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	
	<select id="teeingReadData" resultType="com.project.dto.RoomDTO" parameterType="int">
		select teeingNum,roomNum,userId,name,email,ustoredFileName,title,content,
		to_char(created,'YYYY-MM-DD') created
		from teeing where teeingNum = #{teeingNum}
	</select>
	
	<update id="updateTeeingData" parameterType="com.project.dto.TeeingDTO">
		update teeing set title = #{title},content = #{content}
		where teeingNum = #{teeingNum}
	</update>
	
	<delete id="deleteTeeingData" parameterType="int">
		delete teeing where teeingNum = #{teeingNum}
	</delete>

</mapper>