<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tingCommentMapper">

	<insert id="insertTingCommentData" parameterType="com.project.dto.TingCommentDTO">
		insert into tingComment (commentNum,tingNum,tcuserId,tcname,comments,created)
		values (commentNum_SEQ.nextval,#{tingNum},#{tcuserId},#{tcname},#{comments},sysdate)
	</insert>
	
	<select id="tingCommentDataCount" resultType="int" parameterType="int">
		select nvl(count(*),0) from tingComment where tingNum = #{tingNum}
	</select>
	
	<select id="getTingCommentLists" resultType="com.project.dto.TingCommentDTO" parameterType="map">
		select * from (
		select rownum rnum, data.* from (
		select commentNum,tingNum,tcuserId,tcname,comments,to_char(created,'YYYY-MM-DD') created
		from tingComment where tingNum = #{tingNum}
		order by commentNum asc) data)
		<![CDATA[
		where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	
	<delete id="deleteTingCommentData" parameterType="map">
		delete tingComment where commentNum = #{commentNum} and tingNum = #{tingNum}
	</delete>

</mapper>